@page
@model ComicBookReader.Models.ComicBook
@{
}

<body>
    <section class="content comicbook-page">
        <div class="cb-info-user">
            <div class="cb-info cbuser-info">
                <img class="star-icon rev-star" src="/img/star_icon.png" />
                <h5 class="rev-star">4.7 / 5</h5>
                <p class="rev-count">27</p>
            </div>
            <div><a class="review-btn">Добавить в любимые</a></div>
            <div><a class="review-btn col change-info-btn btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Оставить отзыв</a></div>
            <div class = "cb-status">
                <select>
                    <option>Добавить в список</option>
                    <option>Хочу прочитать</option>
                    <option>Читаю</option>
                    <option>Прочитано</option>
                </select>
            </div>
        </div>
        <div class="cb-info">
            <img class="cover-img" src="/img/ComicBooks/Avatar_The_Promise/cover.jpg" />
            <div class="cb-info-text">
                <h5>@Html.DisplayFor(m => m.ComicBookTitle)</h5>
                <p class="cb-info-item">Год выхода:@Html.DisplayFor(m => m.ComicBookYear) </p>
                <p class="cb-info-item">Язык: @Html.DisplayFor(m => m.ComicBookLanguage)</p>
                <p class="cb-info-item">Автор: </p>
                <p class="cb-info-item">Жанры: </p>
                <p class="cb-info-item">Описание: @Html.DisplayFor(m => m.ComicBookDescription)</p>
            </div>
        </div>

          <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Оставить отзыв</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="info-change">
                <div>
                        <div class="img-username">
                                <p>Ваша оценка:</p>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                        </div>
                        <textarea class="review-input"></textarea>
                            <div class="form-group">
                                <input class="sign-in" type="submit" value="Отправить" />
                            </div>
                        </div>
                </div>
            </div>
      </div>
    </div>
    </div>
    </section>
    <section class="content">
        <div class="chapters-reviews">
            <a class="ch"><h5>Главы</h5></a>
            <a class="rev"><h5>Отзывы</h5></a>
        </div>
        <hr />
            <div class="chapters">
                <a class="chapter"><h5>Глава 3</h5></a>
                <hr />
                <a class="chapter"><h5>Глава 2</h5></a>
                <hr />
                <a class="chapter"><h5>Глава 1</h5></a>
                <hr />
            </div>
            <div class="reviews">
                <div class="review">
                    <div class="review-mark">
                        <img class="star-icon rev-star" src="/img/star_icon.png" />
                        <p class="rev-star">5 / 5</p>
                    </div>
                    <div class="img-username">
                        <img class="user-logo-review" src="/img/user_logo.png" />
                        <p>Username</p>
                    </div>
                    <p class="review-value">Отзыв</p>
                </div>
            </div>
        
    </section>
    <footer>
        <p>ComicBookReader 2022</p>
    </footer>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/home.js"></script>
</body>