@model IEnumerable<ComicBookReader.Models.ComicPage>
@{
    ViewData["Title"] = "Список страниц";
}

<!DOCTYPE html>

<html>
    <head>
        <title>ComicBookReader</title>
    </head>
    <body>

        @foreach (var cp in Model)
        {
            <p>@cp.ChapterId</p>
            <img src = "@cp.PageImage" />
        }
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>
</html>
