@model IEnumerable<ComicBookReader.Models.Genre>
@{
    ViewData["Title"] = "Список жанров";
}

<!DOCTYPE html>

<html>
    <head>
        <title>ComicBookReader</title>
    </head>
    <body>

        @foreach (var genre in Model)
        {
            <p>@genre.GenreId</p>
            <p>@genre.GenreName</p>
        }
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>
</html>
