.comicbook-page {

}

.cb-info-text {
}

.cb-info {
    display: flex;
}

.cover-img {
    margin-left: 30px;
    height: 336px;
    width: 240px;
    border-radius: 20px;
}

.cb-info-text {
    margin-left: 30px;
}

.cb-info-item {
    margin-bottom: 5px;
}

.cb-info-user {
    float: right;
}

.review-btn {
    float: right;
    border: 0px;
    border-radius: 20px;
    color: black;
    background-color: #e8e2a2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.review-btn:hover {
    background-color: rgb(218, 210, 140);
    color: black;
}


.star-icon {
    height: 20px;
    width: 20px;
}

.cbuser-info {
    margin-left: 100px;
}

.rev-star {
    margin-right: 5px;
}

.rev-count {
    margin-top: 1px;
    color: rgb(141, 141, 141);
}

.cb-status {
    margin-left: 50px;
}

.cb-status select {
    border-radius: 20px;
    padding: 5px;
}

.chapters-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch {
    cursor: pointer;
    margin-right: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #e8e2a2;
}

.ch:hover {
    background-color: #e8e2a2;
    color: black;
}

.rev {
    cursor: pointer;
    margin-left: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.rev:hover {
    background-color: #e8e2a2;
    color: black;
}

.chapters {
    margin-left: 50px;
    margin-right: 50px;
}

.chapter {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.chapter:hover {
    color: black;
    background-color: rgb(217, 217, 217);
}

.chapters hr {
    margin: 0;
}

.chapters h5 {
    margin: 0;
}

.user-logo-review {
    height: 50px;
    width: 50px;
}

.reviews {
    display: none;
    margin-left: 150px;
    margin-right: 150px;
}

.img-username {
    display: flex;
}

.img-username p {
    margin-left: 10px;
}

.review-mark {
    float: right;
    display: flex;
}

.review-input {
    width: 600px;
    height: 200px;
}

.currev:hover {
    background-color: #e8e2a2;
}
.img-username p {
    margin-right: 10px;
}

