.img-page {
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

.slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
.containerr {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Скрыть изображения по умолчанию */
.mySlides {
    display: none;
}

/* Добавить указатель при наведении на миниатюры изображений */
.cursor {
    cursor: pointer;
}

/* Вперед и предыдущие кнопки */
.prev,
.next {
    cursor: pointer;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    color: #555;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Позиция "next кнопка" на право */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
    .prev:hover,
    .next:hover {
        background-color: #ccc;
        color: #fff;
    }

/* Номера текст (1/3 и т.д.) */
.numbertext {
    text-align: center;
    color: #000;
    margin-top: 20px;
}


.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 250px;
    height: 3px;
    margin-left: 25px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }

.slider-page {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 500px;
    height: 5px;
    border-radius: 5px;
    background: #555;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

    .slider-page::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #555;
        cursor: pointer;
    }

.page-content {
    position: relative;
    margin-top: 80px;
}

.settings {
    position: fixed;
    top: 140px;
    right: 20px;
    height: 400px;
    width: 300px;
    background-color: #aaa;
    border-radius: 20px;
    z-index: 1000;
}

    .settings h5 {
        color: #fff;
        text-align: center;
    }

.slidecontainer {
    margin-top: 20px;
}

.settings-icon {
    position: fixed;
    right: 20px;
    cursor: pointer;
    background-color: #aaa;
    border-radius: 30px;
    z-index: 1000;
}

    .settings-icon img {
        width: 50px;
    }


.cb-link {
    color: #fff;
    font-size: 14pt;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

.cb-link:hover {
    color: #eee;
}

.ch-link {
    font-size: 14pt;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
    color: #000;
    background-color: #eee;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
    .ch-link:hover {
        background-color: #ccc;
        color: #000;
    }

.chapters-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaa;
}

.reader-mode {
    margin-top: 20px;
}

.reader-mode-btns {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.reader-mode-btn {
    color: #fff;
    cursor: pointer;
}

.reader-mode-btn:hover {
    color: #e5e5e5;
}

#hor {
    font-weight: bold;
}
